html, body {
	margin: 0;
	padding: 0;
	font-family: 'Arvo', serif;
	font-size: 16px;
}

.container {
	width: 940px;
	margin: 0 auto;
}

/* Header */
.header {
	padding: 20px 0;
}

.header h1 a {
	text-decoration: none;
	color: #000;
}

.nav-pills li a {
	color: #d8192f;
	border: 1px solid rgba(216,25,47,1);
	padding: 10px 22px;
	margin: 0 5px;
}

.nav-pills li.active a,
.nav-pills li a:hover,
.section .btn:hover {
	background-color:rgba(216,25,47,1);
	box-shadow:0 2px 4px rgba(0,0,0,.5); 
	color:#fff;
}

.nav-pills {
	margin-top: 10px;
}

/* Jumbotron */
.jumbotron {
	height: 500px;
	background: url("images/bg.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
}

.jumbotron .container {
	margin-top: 100px;
}

.jumbotron h2 {
	font-size: 54px;
}

/* Banner */
.banner, .supporting {
	text-align: center;
	padding-top: 40px;
}

.banner {
	background-color:#36343f;
	height:180px; 
	color: #fff;
}

/* Section */
.section h4 {
	color: #d9192f;
}